.contactPage {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.contactPage div {
  width: 50vw;
}
.form-control {
  width: 70vw;
}

#social {
  display: flex;
  flex-direction: row;
}

.contactPage h4 {
  margin-left: 10px;
}

#social h2 {
  padding-right: 40px;
  position: relative;
  left: 15px;
}
