@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.navBar {
  background-color: rgb(80, 80, 80);
  height: 45px;
  opacity: 85%;
}

.NavBrand :any-link {
  font-weight: bolder;
  font-size: calc(12px + 1vmin);
  text-decoration: none;
}

.navLinks {
  font-size: calc(8px + 1vmin);
}

#mobileModal {
  position: relative;
  left: 25px;
  top: 70px;
  width: 300px;
  height: 600px;
}
