.portfolioOne {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  height: 100vh;
  justify-content: center;
}

.carousel-item {
  width: 50vw;
}

.carousel-caption {
  font-size: 1vw;
}

.w-100 {
  align-content: center;
}
